/* Hero Section */
.hero {
  background: linear-gradient(180deg,rgba(0,0,0,0.6), rgba(0, 0, 0, 0.2)),url('pics/Delhi.jpg') center/cover no-repeat;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: start;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 20px;
}

/* Schedule Section */
.schedule-container {
  padding: 50px;
  background: #fafafa;
}
.schedule-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}
.schedule-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.schedule-card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.schedule-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.schedule-card p {
  margin-bottom: 8px;
  color: #555;
}
.schedule-card button {
  padding: 10px 15px;
  background: orange;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.schedule-card button:hover {
  background: darkorange;
}